.env
.DS_Store
commandlog.txt
error.txt
ezsfinder.txt
*.out
scoreerror.txt
setupoutput.txt
trueminimaloutput.txt
venv/
node_modules/
__pycache__/
*.py[cod]
*.pyo
__userdata/
.cache/
.config/
.upm/
input/
output/